
.itemCard {
    min-width: 375px;
    max-width: 500px;
    border-radius: 4px;
    overflow: hidden;
}

.itemCardInner {
    background-color: var(--primary-card-background);
    box-shadow: var(--primary-shadow-large);
}

.itemHeader {
    flex: 1;
    display: flex;
    gap: 10px;
    background-image: url(https://cdn.nwdb.info/static/images/tooltip_header_bg_0.jpg);
    background-size: cover;
    padding: 15px;
    width: calc(100% - 30px);
    box-shadow: var(--primary-shadow-universal);
    transition: all ease 0.2s;
    position: relative;
}

.compItem:hover {
    cursor: pointer;
    transition: all ease 0.2s;
    box-shadow: var(--primary-shadow-small);
}

.compItemDetail {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.compItemTitle {
    span {
        font-weight: 500;
        line-height: 1.2;
        font-size: 1.25rem;
        text-shadow: 2px 2px 3px rgba(0,0,0,.75);
    }
}

.compItemMeta {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    span {
        display: block;
        text-transform: capitalize;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2;
        text-shadow: 2px 2px 3px rgba(0,0,0,.75);
    }
}

.compItemImg {
    min-width: 75px;
    min-height: 75px;
    max-width: 75px;
    max-height: 75px;
    background: linear-gradient(360deg,rgba(var(--rarity-0),.25) 0,rgba(0,0,0,.5) 100%);
    border: 1px solid rgba(255,255,255,.5);
    position: relative;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        position: absolute;
    }
}

.floatingIcon {
    position: absolute;
    top: 15px;
    right: 15px;
    transition: all ease 0.2s;
}

.floatingIcon:hover {
    opacity: 0.8;
    cursor: pointer;
    transition: all ease 0.2s;
}

.itemRow {
    margin-bottom: 30px;
    display: flex;
    gap: 30px;
}

.itemDetail {
    padding: 30px;
}

.itemDetail {
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5;
    box-sizing: inherit;
    margin-top: auto!important;
    margin-bottom: auto!important;
    text-align: center !important;
    border-radius: 8px;
    box-shadow: none;
    color: #fff;
    display: block;
    flex-grow: 1;
    margin: 0 auto;
    position: relative;
    width: auto;
    max-width: 1344px!important;
    height: 100%;
}

.lowPriceCont {
    span {
        font-size: 4.3em;
    }
}

.ingCont {
    flex: 1;
}

.ingIncPannel {
    background-color: var(--primary-card-background);
    box-shadow: var(--primary-shadow-large);
    border-radius: 4px;
    padding: 30px;
    margin-bottom: 30px;
}

.ingIncPannelInner {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.ingItem {
    display: flex;
    gap: 30px;
    width: calc(33.33% - 10px);

}

.compItemDetail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.ingIncHeaderCont {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.inputPannel {
    background-color: var(--primary-card-background);
    box-shadow: var(--primary-shadow-large);
    border-radius: 4px;
    padding: 30px;
}

.ingIncPannelInner {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.userInputs {
    display: flex;
    gap: 15px;
    align-items: center;
}

.ingCalcInfo {
    background-color: var(--primary-card-background);
    box-shadow: var(--primary-shadow-large);
    border-radius: 4px;
    padding: 30px;
}
