<div class="main">
    <div class="mainInner">
        <div class="itemRow" *ngIf="!isLoading">
            <div class="itemCard">
                <div class="itemCardInner">
                    <div class="itemHeader">
                        <div class="compItemImg">
                            <img *ngIf="selectedItem?.imageUrl" [src]="selectedItem?.imageUrl">
                            <img *ngIf="!selectedItem?.imageUrl" src="../../assets/images/NW Stacked Wht.png">
                        </div>

                        <div class="compItemDetail">
                            <div class="compItemTitle">
                                <span *ngIf="selectedItem?.name">{{selectedItem?.name}}</span>
                                <span *ngIf="!selectedItem?.name">Select Item</span>
                            </div>

                            <div class="compItemMeta" *ngIf="selectedItem">
                                <div class="compItemType">
                                    <span *ngIf="selectedItem?.itemType">{{selectedItem?.itemType}}</span>
                                    <span *ngIf="selectedItem?.tradeSkill">{{selectedItem?.tradeSkill}}</span>
                                    <span *ngIf="!selectedItem?.tradeSkill && !selectedItem?.itemType">N/A</span>
                                </div>

                                <div class="compItemTier">
                                    <span *ngIf="selectedItem?.tier == 1">Tier 1</span>
                                    <span *ngIf="selectedItem?.tier == 2">Tier 2</span>
                                    <span *ngIf="selectedItem?.tier == 3">Tier 3</span>
                                    <span *ngIf="selectedItem?.tier == 4">Tier 4</span>
                                    <span *ngIf="selectedItem?.tier == 5">Tier 5</span>
                                </div>
                            </div>
                        </div>

                        <mat-icon matTooltip="Add Item" *ngIf="!selectedItem" class="floatingIcon" (click)="addItem()">add</mat-icon>
                        <mat-icon matTooltip="Switch Item" *ngIf="selectedItem" class="floatingIcon" (click)="addItem()">restart_alt</mat-icon>
                    </div>

                    <div class="itemDetail" *ngIf="selectedItem">
                        <div class="lastUptCont">
                            <span>Lowest price as of {{selectedItemData.price_datetime | date: 'short'}}</span>
                        </div>

                        <div class="lowPriceCont">
                            <span>{{selectedItemData.detail_view[selectedItemData.detail_view.length-1].price}}</span>
                        </div>

                        <div class="lowMetaDetialCont">
                            <span>
                                Highest Buy Order - Price:
                                {{selectedItemData.detail_view[selectedItemData.detail_view.length-1].buy_order_price}}
                                Qty: {{selectedItemData.detail_view[selectedItemData.detail_view.length-1].qty}}
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ingCont">
                <div class="ingIncPannel">
                    <div class="ingIncHeaderCont">
                        <span class="ingIncHeader">Main Ingredients</span>
                        <span class="ingIncSimpleCost">Single craft cost est: {{singleCraftCost}}</span>
                    </div>

                    <div class="ingIncPannelInner">
                        <ng-container *ngFor="let item of craftItemFull?.ingredients">
                            <div class="ingItem">
                                <div class="compItemImg">
                                    <img *ngIf="item.detail?.imageUrl" [src]="item.detail?.imageUrl">
                                    <img *ngIf="!item.detail?.imageUrl" src="../../assets/images/NW Stacked Wht.png">
                                </div>

                                <div class="compItemDetail">
                                    <div class="compItemTitle">
                                        <span *ngIf="item.detail?.name">{{item.detail?.name}}</span>
                                        <span *ngIf="!item.detail?.name">Name Missing</span>
                                    </div>

                                    <div class="compItemMeta" *ngIf="selectedItem">
                                        <div class="compItemQnty">
                                            <span>Quantity: {{item?.quantity}}</span>
                                        </div>

                                        <div class="compItemCost">
                                            <span>
                                                est Price:
                                                {{item.marketDetail?.detail_view[item.marketDetail?.detail_view?.length-1].price * item?.quantity | number:'1.2-2'}}
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>

                <div class="inputPannel">
                    <div class="inputPannelInner">
                        <form [formGroup]="craftDetails">

                            <div class="userInputs">
                                <mat-form-field class="flexField">
                                    <mat-label>Amount to Craft</mat-label>
                                    <input matInput type="text" formControlName="amount" placeholder="1" [readonly]="false" required>
                                    <mat-error *ngIf="craftControls['amount'].invalid">
                                        Amount to craft
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="flexField">
                                    <mat-label>Gold to invest</mat-label>
                                    <input matInput type="text" formControlName="investmentGold" placeholder="100000"
                                        [readonly]="false" required>
                                    <mat-error *ngIf="craftControls['investmentGold'].invalid">
                                        Gold to Invest required
                                    </mat-error>
                                </mat-form-field>

                                <mat-form-field class="flexField">
                                    <mat-label>Gear Bonus</mat-label>
                                    <input matInput type="number" formControlName="gearBonus" placeholder="8"
                                        [readonly]="false" required>
                                    <mat-error *ngIf="craftControls['gearBonus'].invalid">
                                        Bonus is required
                                    </mat-error>
                                </mat-form-field>

                                <!--<mat-button-toggle-group formControlName="craftHighLvl" name="craftHighLvl"
                                    matTooltip="Craft Purple T5 mats eg. Blisterweave">
                                    <mat-button-toggle value="true">Yes</mat-button-toggle>
                                    <mat-button-toggle value="false" [checked]="true">No</mat-button-toggle>
                                </mat-button-toggle-group>

                                <mat-button-toggle-group formControlName="convertMaterial" name="convertMaterial"
                                    matTooltip="Include conversion materials in math">
                                    <mat-button-toggle value="true">Yes</mat-button-toggle>
                                    <mat-button-toggle value="false" [checked]="true">No</mat-button-toggle>
                                </mat-button-toggle-group>-->

                                <button mat-raised-button (click)="calculateItem()">Calculate</button>
                            </div>

                            <!--<div class="tableMain">
                                <div class="tableHeader">
                                    <span>Profit Breakdown</span>
                                </div>

                                <div class="dataRow">
                                    <div class="dataPoint">
                                        <span>Total</span>
                                    </div>
                                </div>

                                <div class="tableHeader">
                                    <span>Craft breakdown: {{allCraftCost}}</span>
                                </div>
                            </div>-->

                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="ingCalcInfo">
            <div class="ingIncHeaderCont">
                <span class="ingIncHeader">Calculated Data</span>
            </div>

            <div class="calcInfoBody">

            </div>
        </div>

        <!--<div class="itemGraph" *ngIf="!isLoading">
            <canvasjs-chart #chartContainer [options]="chartOptions" [styles]="{width: '100%', height:'400px'}"></canvasjs-chart>
        </div>-->


    </div>
</div>
