<div class="menu" id="menu">
    <div class="logoCont mainLogo">
        <img routerLink="/" id="logo" class="logo" src="../../assets/images/logo-wide-wht.webp">
    </div>

    <div class="menuInner">
        <div class="mobileMenuBar">
            <!--<div class="logoCont flexLogo" style="margin-right: 10px;">
                <img id="logo" class="logo" src="../../assets/images/NW Stacked Wht.png">
            </div>-->

            <button class="menuOpen" mat-button (click)="showMobMenu = !showMobMenu">
                <mat-icon>
                    menu
                </mat-icon>
            </button>
        </div>

        <div class="menuItems">
            <!--<div class="logoCont flexLogo" style="margin-right: 10px;">
                <img id="logo" class="logo" src="../../assets/images/NW Stacked Wht.png">
            </div>-->

            <ng-container *ngFor="let item of menuItems">
                <div class="menuItem"
                    [ngClass]="currentRoute == item.route || (currentRoute == '' && item.route == 'home') ? 'activeItem' : ''"
                    (click)="goToRoute(item)" (mouseenter)="openMenu($event, item.name)">
                    <span>
                        {{item.name}}
                        <mat-icon *ngIf="item.dropdown">
                            expand_more
                        </mat-icon>
                    </span>
                </div>
            </ng-container>
        </div>

        <div class="menuItems">

            <div class="menuBtn" (click)="goToDiscord()" style="background-color: #5865f2"
                matTooltip="Goggle Gang AI Discord">
                <img class="menuBtnImg" src="../../assets/images/discord-icon-wht.webp">
            </div>

            <div class="menuBtn" style="background-color: #52bfdc;" (click)="goToDonate()">
                <span>
                    Donate
                </span>
            </div>

            <div class="menuBtn" routerLink="/login" *ngIf="!isAuthenticated">
                <span>
                    Login
                </span>
            </div>

            <div class="menuBtn" (click)="logout()" *ngIf="isAuthenticated">
                <span>
                    Logout
                </span>
            </div>

            <!--<div class="logoCont flexLogo" style="margin-right: 10px;">
                <img id="logo" class="logo" src="../../assets/images/syndicate.png">
            </div>-->
        </div>
    </div>
</div>

<div style="visibility: hidden; position: fixed;" [style.left.px]="menuTopLeftPosition.x"
    [style.top.px]="menuTopLeftPosition.y" [matMenuTriggerFor]="memberDropdown"></div>

<mat-menu #memberDropdown="matMenu">
    <ng-container>
        <div class="ddList" (mouseleave)="closeMenu($event)">
            <button class="ddBtn" mat-menu-item *ngFor="let member of members" (click)="goToRoute(member)">
                <img class="ddIcon" [src]="member.icon">
                <span>{{member.name}}</span>
            </button>
        </div>
    </ng-container>
</mat-menu>

<div class="mobileSideNav" [@showHideMobMenu]="showMobMenu ? 'expanded' : 'collapsed'">
    <div class="sidenav">
        <div style="margin-bottom: 15px; display: flex;justify-content: flex-end;align-items: center; gap: 5px; cursor: pointer;" (click)="showMobMenu = !showMobMenu">
            close
            <mat-icon>close</mat-icon>
        </div>

        <ng-container *ngFor="let item of menuItems">
            <div class="mobile-menu-item" (click)="goToRoute(item)" *ngIf="item.name != 'Members'">
                <span>
                    {{item.name}}
                    <mat-icon *ngIf="item.dropdown">expand_more</mat-icon>
                </span>
            </div>

            <div class="mobile-menu-item" (click)="openMenu($event, item.name)" *ngIf="item.name === 'Members'">
                <span>
                    {{item.name}}
                    <mat-icon *ngIf="item.dropdown">expand_more</mat-icon>
                </span>
            </div>
        </ng-container>

        <div class="menuBtn" (click)="goToDiscord()" style="background-color: #5865f2; justify-content: center;white-space: none; text-wrap: none; width: 150px;"
            matTooltip="Goggle Gang AI Discord">
            <img class="menuBtnImg" src="../../assets/images/discord-icon-wht.webp">
        </div>
    </div>
</div>
