<div class="mainTitle">
    <h1>Google Gang Gallery</h1>
</div>

<div>
    <ul *ngIf="!nsfwToggle" class="mdc-image-list mdc-image-list--masonry my-masonry-image-list"
        [photoGalleryGroup]="{ arrowEl: true, indexIndicatorSep: ' - ' }">
        <li class="mdc-image-list__item" *ngFor="let img of paginatedSfwDB" [photoGallery]="img.relativePath">
            <img class="mdc-image-list__image" [src]="img.relativePath" (load)="onImageLoad()">
        </li>
    </ul>

    <ul *ngIf="nsfwToggle" class="mdc-image-list mdc-image-list--masonry my-masonry-image-list"
        [photoGalleryGroup]="{ arrowEl: true, indexIndicatorSep: ' - ' }">
        <li class="mdc-image-list__item" *ngFor="let img of paginatedNsfwDB" [photoGallery]="img.relativePath">
            <img class="mdc-image-list__image" [src]="img.relativePath" (load)="onImageLoad()">
        </li>
    </ul>

    <mat-paginator class="pagFloat" [length]="!nsfwToggle ? sfwDB.length : nsfwDB.length" [pageSize]="itemsPerPage" (page)="onPageChange($event)"></mat-paginator>

    <div class="nsfw-switch-cont">
        <div class="refresh">
            <mat-icon (click)="shuffleDBs()" matTooltip="Shuffle Gallery">
                shuffle
            </mat-icon>
        </div>

        <section class="nsfw-switch-section">
            <mat-slide-toggle class="nsfw-switch" [checked]="nsfwToggle" (change)="nsfwToggle = $event.checked">
                NSFW
            </mat-slide-toggle>
        </section>
    </div>
</div>

<div class="loadingOverlay" *ngIf="!galleryLoaded">
    <div class="loadingInner">
        <h1>Loading Images</h1>
        <mat-spinner></mat-spinner>
    </div>
</div>
