
<div class="pageWidth">
    <div class="lore-container">
        <div class="video-container" [@fade]>
            <iframe width="100%" height="400px" src="https://www.youtube.com/embed/nIHerMQMiHo" frameborder="0"
                allowfullscreen></iframe>
        </div>

        <div class="info-container" [@fade300ms]>
            <h2>The Copium Wars</h2>
            <p>In the mystical realm of Aeternum, where death is but a fleeting concept, whispers abound of a legendary
                crystal forged in the crucible of ancient times. This enigmatic artifact, steeped in the magic of rewriting
                history, possesses the extraordinary ability to reshape the outcome of any lost battle, offering its wielder
                an illusory triumph. Tales of the crystal's power have ignited the ambitions of warriors and factions alike,
                drawing them into a relentless quest for dominance in the ever-shifting tides of war known as the Copium
                Wars.</p>
        </div>
    </div>

    <div class="lore-container">
        <div class="info-container">
            <h2>Road to Ebonscale</h2>
            <p>Long ago, tales echoed of an enigmatic realm known as the Immortal Isle. Many dared to venture toward its mythical shores, yet none emerged from the journey.</p>
        </div>

        <div class="video-container">
            <iframe width="100%" height="400px" src="https://www.youtube.com/embed/yUMCweFcFkE?si=0BMe0DSKjW8DKy9D" frameborder="0"
                allowfullscreen></iframe>
        </div>
    </div>
</div>
