// Angular Material
@use '@angular/material' as mat;
@use "angular-material-css-vars" as mat-css-vars;
@use "@material/image-list/mdc-image-list";

// Imports
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@100;300;400;500;600;700&display=swap');

// Include the common styles for Angular Material.
@include mat.core();

// Include Angular Material CSS Vars
@include mat-css-vars.init-material-css-vars();

// Define common palettes
$common-primary: mat.define-palette(mat.$indigo-palette);
$common-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$common-warn: mat.define-palette(mat.$red-palette);

// Define common theme
$common-theme: mat.define-light-theme((color: (primary: $common-primary, accent: $common-accent, warn: $common-warn)));

// Apply common theme to specific themes
$gg-fe-2024-theme: $common-theme;
$new-world-theme: $common-theme;

// Define dark theme
$dark-theme: mat.define-dark-theme((color: (primary: mat.define-palette(mat.$pink-palette), accent: mat.define-palette(mat.$blue-grey-palette))));

// Include theme styles for core and each component
@include mat.all-component-themes($gg-fe-2024-theme);
@include mat.all-component-themes($new-world-theme);
@include mat.all-component-themes($dark-theme);

// Custom Font
@font-face {
    font-family: 'BlackPearl';
    src: url('../src/assets/fonts/BlackPearl.woff2') format('woff2'),
        url('../src/assets/fonts/BlackPearl.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

// Body Styles
html,
body {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: var(--primary-text-color);
}

// Heading and Paragraph Styles
h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.displayContainer {
    //min-height: calc(100vh - 106px);
    //width: calc(100% - 70px);
    //padding-top: 106px;
    //padding-left: 70px;
    min-height: 100vh;
    background: var(--primary-background);
}

.main {
    padding: 30px;
    padding-top: 118px;
}

.header {
    background: var(--primary-card-background);
    padding: 15px 30px;
}

.flexRow {
    display: flex;
}

.flexCenter {
    align-items: center;
}

.flexSpaceBetween {
    justify-content: space-between;
}

.acOption {
    display: flex;
    gap: 10px;
    align-items: center;

    img {
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
}

.mat-mdc-form-field-bottom-align {
    display: none;
}

/* Responsive styles for medium-sized screens (tablets, smaller desktops) */
@media only screen and (min-width: 1025px) {
    .pageWidth {
        max-width: 1425px;
        width: 100%;
        margin: 0 auto;
        padding: 0 90px;
        padding-top: 88px;
    }
}

/* Responsive styles for medium-sized screens (tablets, smaller desktops) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .pageWidth {
        padding: 0 40px;
    }
}

/* Responsive styles for small screens (phones) */
@media only screen and (min-width: 1px) and (max-width: 767px) {
    .mobileHide {
        display: none;
    }

    .pageWidth {
        padding: 0 20px;
        width: calc(100% - 55px);
        margin: 0;
    }
}

@media only screen and (max-width: 767px) {
    .mobileHide {
        display: none;
    }
}

.btnRow {
    display: flex;
    justify-content: center;
}

.primaryBtn {
    flex: 1;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    height: 50px;
    background-color: white;
    color: var(--primary-color);
    box-shadow: 0px 2px 5px #0000001a;
    transition: all ease 0.2s;
    overflow: hidden;
    max-width: 450px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    padding: 0 15px;
}

.primaryBtn:hover {
    box-shadow: 0px 5px 10px #0000001a;
    transition: all ease 0.2s;
    background-color: var(--primary-color);
    color: white;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.custom-success-snackbar {
    .mdc-snackbar__surface {
        background-color: #22bb33 !important;
        color: white;
    }
}

.custom-warning-snackbar {
    .mdc-snackbar__surface {
        background-color: #f0ad4e !important;
        color: #202020;
    }
}

.custom-error-snackbar {
    .mdc-snackbar__surface {
        background-color: #bb2124 !important;
        color: white;
    }
}

.full-screen-dialog {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
